footer {
  background-image: url(/assets/img/footer_bg.jpg);
  background-size: cover;
  background-position: center;
  .footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    ul {
      padding: 0;
      display: flex;
      column-gap: 25px;
      li {
        a {
          color: white;
        }
      }
    }

    p {
      color: white;
    }
    .heart,
    span {
      color: red;
    }
  }
  @media only screen and (max-width: 991px){
    .footer{
        flex-direction: column;
    }
  }
}
