// Hero Banner -section
#hero-banner {
  margin-top: 50px;
  .text {
    padding-bottom:150px;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    // height: 100vh;
    width: 50%;
    .secces-comitted {
      text-align: start;
      display: flex;
      column-gap: 10px;
      .line {
        margin-top: 10px;
        width: 5%;
        background-color: #ff2143;
        height: 2px;
      }
      h6 {
        color: #ff2143;
      }
    }
    h1 {
      color: black;
    }
    p {
      color: black;
    }
  
    display: flex;
    button {
      padding: 10px 15px;
      border: none;
      background-color: #ff2143;
      color: #fff;
    }
  }
  @media only screen and (max-width: 992px) {
    .text {
      padding-top: 500px;
      width: 100%;
    }
  
  }
  @media only screen and (max-width:992px){
    .text{
      padding: 0;
      height: 0;
    }
  }
}



// services section
#services-section {
  .services-section {
    .succes-cimitted {
      display: flex;
      column-gap: 10px;

      .line {
        margin-top: 10px;
        width: 5%;
        background-color: #ff2143;
        height: 2px;
      }
      h6 {
        color: #ff2143;
      }
    }
    padding: 50px 0;
    .row {
      .card {
        overflow: hidden;
        text-align: center;
        .content {
          position: absolute;
          bottom: -100%;
          width: 100%;
          height: 100%;
          transition: all 0.42s ease;
          background-color: #ff2143;
          .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            h2,
            p {
              color: white;
            }
            i {
              color: white;
              padding: 10px;
              font-size: 24px;
            }
          }
        }
        .card-text {
          width: 80%;
          h2 {
            padding-top: 10px;
            color: #21246b;
          }
          p {
            color: gray;
          }
          i {
            padding: 10px;
            color: #ff2143;
            font-size: 24px;
          }
        }
        &:hover .content {
          bottom: 0;
        }
      }
    }
  }
}

// about section
#about-section {
  background-image: url(/assets/img/section_bg02.jpg);
  background-size: cover;
  background-position: center;
  .about-section {
    column-gap: 80px;
    padding: 80px 0;
    display: flex;

    .about-image{
      img{
        width: 100%;
      }
    }
    .about-text {
      padding: 50px 0;
      width: 50%;
      .succes-cimitted {
        display: flex;
        column-gap: 15px;
        .line {
          margin-top: 10px;
          width: 7%;
          background-color: white;
          height: 2px;
        }
        h6 {
          color: white;
        }
      }
      h1 {
        font-size: 48px;
        color: white;
      }
      h6 {
        color: white;
        font-size: 22px;
      }
      p {
        color: grey;
        padding-bottom: 25px;
      }
      button {
        padding: 10px 15px;
        border: none;
        background-color: #ff2143;
        color: #fff;
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .about-section {
      flex-direction: column;
    
      .about-text {
        width: 100%;
        row-gap: 20px;
      }
    }
  }
}
// team section
#team-section {
  .team-section {
    padding: 50px 0;
    .succes-cimitted {
      display: flex;
      column-gap: 15px;
      .line {
        margin-top: 10px;
        width: 5%;
        background-color: #ff2143;
        height: 2px;
      }
      h6 {
        color: #ff2143;
      }
    }
    .team{
        display: flex ;
        justify-content: center;
        align-items: center;

    }
    .cards {
        .images{
            overflow: hidden;
            img{
                transition: all 0.42s ease;
                &:hover{
                  transform: scale(1.1);
                }
              }
        }

      .card-text {
        padding-left: 50px;
      }
    }
  }
}
// brand section
#brand-section{
    .brand-section{
        padding: 50px 0;
    }
}
